{% extends "base.html" %}
{% block content %}

<div class="container text-center">
  <div class="row my-5 text-left" id="alerts"></div>
  <div class="row my-5 code-input">
    <div class="col border" id="input-0"></div>
    <div class="col border" id="input-1"></div>
    <div class="col border" id="input-2"></div>
    <div class="col border" id="input-3"></div>
    <div class="col border" id="input-4"></div>
    <div class="col border" id="input-5"></div>
    <div class="col border" id="input-6"></div>
    <div class="col border" id="input-7"></div>
  </div>
</div>

{% endblock %}
